.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.2);

  .container {
    position: relative;
    background: white;
    border: 1px solid black;
    margin: auto;
    width: 70%;

    .icon-close {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .form {
      display: flex;
    }
  }
}
